header {
    background-color:green;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: left;
}

body {
    background-color: silver;
}

h1 {
    display:inline-block;
}

#LinkAlign {
    text-align: right;
}

.link {
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color:white;
    padding: 10px;
    text-decoration:none;
}


.Nav {
    display: inline;
    color:white;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
}

#ProfilePic {
    float: left;
    width: 300px;
    height: 200px;
}

p {
    font-size:large;
}

li {
    list-style-type: none;
}


 #FirstProject {
    width:50%;
    height:50%;
}

.LaterProject {
    flex: 1 0 0;
    text-align:center;
    padding: 20px;
} 

.LaterProject img {
    width: 70%;
    height: 70%;
    max-width:100%;
    padding-top: 30px;
}
h2, h3, h4 {
    font-size:40px;
    color:black;
    text-align: left;

}



.BigProject {

    position: relative;
    left:25%;
}

/* .SmallProject {
    flex: 1 0 50%;
    flex-direction:row;
    text-align:center;
    margin: 5px;
    padding: 5px;
    border: 5px solid black;
    flex-wrap:wrap;
    width:75%;
} */

.SmallProject {
    display:flex;
    flex: 0 0 25%;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    border-style:solid;
    padding: 10px;
    border-width: 5px;
}



@media screen and (max-width: 900px) {
    .SmallProject {
        width: auto;
    }
    
}
 /*.flex-container {
    display: flex;
    background-color: cornflowerblue;
    flex-direction: column;
    width: 75%;
    height: 50%;
    flex-wrap:wrap;
    flex: 0 2 200px;
} */


/* .flex-container > li {
    float:left;
} */


.Scroll {
    scroll-behavior: smooth;
}

footer {
    background-color: green;
}

footer ul {
    display:inline;
}